body {background-color: #2eccfa;
		color: #666666;
		font-family: Verdana, Arial, sans-serif;
		font-size: 14px;
		}
h1 {background-color: #32154c;
	background-position: right;
	background-repeat: no-repeat;
	padding-left: ;
	height: 140px;
	color: #FFFFFF;
	font-family: Georgia, serif;
	line-height: 200%;
	margin-bottom: 0;
	}
h3 {color: #000033;
	}